body{
    background-image: url(./shara\ desert.jpg);
}
.sahara{
    font-size: 100px;
    color: white;
    position: absolute;
    top: 30%;
    left: 6%;
}
.logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.home{
    position: absolute;
    top: 5%;
    left: 70%;
    color: white;
    font-size: 20px;
}
.region{
    position: absolute;
    top: 5%;
    left: 75%;
    color: white;
    font-size: 20px;
}
.about{
    position: absolute;
    top: 5%;
    left: 80%;
    color: white;
    font-size: 20px;
}
.lines{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5%;
    left: 85%;
    border-radius: 50px;
}
.desert{
    background-image: url(./pic-1.png);}
.pics{
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 250px;
    color: white;
    text-align: center;
    font-size: 10px;
    border-radius: 10px;

}
.desert{
    background-image: url(./pic-1.png);
    background-size: cover;
    height: 200px;
    width: 250px;
}
.pics:hover{
    transform: translateY(-3px);
}
.bagavat{
    background-image: url(./pic-2.png);
}
.piramid{
    background-image: url(./pic-3.png);
}
.kalhari{
    background-image: url(./pic-4.png);
}
.lorem{
    position: absolute;
    left: 6%;
    top: 45%;
    color: white;
    font-size: 20px;
}
button{
    position: absolute;
    top: 59%;
    left: 7%;
    border-radius: 10px;
    padding: 10px 50px;
    border: 2px solid white;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10%;
    position: absolute;
    left: 50%;
    top: 20%;
    border-radius: 5px;
}
@media screen and (min-width:320px) and (max-width:500px){ }
 {
    
}
@media (max-width:856px){
    .sahara{
        font-size: 50px;
        position: absolute;
        top: 15%; 

    }
    .lorem{
        font-size: 20px;
        position: absolute;
        top: 25%;
    }
    button{
        position: absolute;
        top:40%;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        top: 60%;
        left: 20%;
    }
    .pics{
        margin:20px;
        width:500px
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       
        left: 50%;
    }.nav{
        margin:10px
    }
    .home{
        position: absolute;
        left:50%;
    }
    .region{
        position: absolute;
        left:60%;
    }
    .about{
        position: absolute;
        left:70%;
    }
    .lines{
        position: absolute;
        left:80;
    }
}
@media (max-width:346px){
    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 20px;
    }
    .home{
        position: absolute;
        top: 2%;
        left: 110%;
    }
    .about{
        position: absolute;
        top:12%;
        left: 110%;
    }
    .region{
        position: absolute;
        top:7%;
        left: 110%;
    }
    .lines{
        position: absolute;
        top: 7%;
        left: 150%;
        height: 34px;
        width: 24px;
    }
    .nav{
        font-size: 25px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: absolute;
        top: 44%;
        left: 20%;
    }
    .pics{
        height: 200px;
        width: 250px;
    }
    .sahara{
        font-size: 35px;
    }
    .lorem{
        font-size: 15px;
        font-size: 15px;
        position: absolute;
        top: 22%;
    }
    button{
        position: absolute;
        top:32%;
    }
    